<footer class="custom-footer bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
          Đây là nội dung của footer. Bạn có thể sử dụng đoạn này để giới thiệu về trang web của mình.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Liên kết</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-dark">Liên kết 1</a></li>
          <li><a href="#!" class="text-dark">Liên kết 2</a></li>
          <li><a href="#!" class="text-dark">Liên kết 3</a></li>
          <li><a href="#!" class="text-dark">Liên kết 4</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Liên hệ</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-dark">Email: example@example.com</a></li>
          <li><a href="#!" class="text-dark">Điện thoại: +84 123 456 789</a></li>
          <li><a href="#!" class="text-dark">Địa chỉ: Số 1, Phố ABC, Hà Nội</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-light">
    &copy; 2024 Bản quyền thuộc về:
    <a class="text-dark" href="#">AidBoss.com</a>

