<header class="">
   <nav class="navbar navbar-expand-xl position-sticky">
      <div class="container-fluid">
         <h3 class="navbar-brand m-0 name-web " href="#">
            <span data-text="PobRT">Pob RT</span>
         </h3>
         <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
               <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
               <div class="navbar-nav align-items-center flex-grow-1 pe-3">
                  <!-- Danh sách các mục bên trái -->
                  <div class="d-flex flex-grow-1 justify-content-center">
                     <div class="nav-item cate-nav">
                        <a class="nav-link" aria-current="page" href="#">Movies</a>
                     </div>
                     <div class="nav-item cate-nav">
                        <a class="nav-link" href="#">Stream</a>
                     </div>
                     <div class="nav-item cate-nav">
                        <a class="nav-link" href="#">Events</a>
                     </div>
                     <div class="nav-item cate-nav">
                        <a class="nav-link" href="#">Cinemas</a>
                     </div>
                     <div class="nav-item cate-nav">
                        <a class="nav-link" href="#">Sale off</a>
                     </div>
                     <div class="nav-item cate-nav">
                        <a class="nav-link" href="#">News</a>
                     </div>
                     <div class="nav-item cate-nav">
                        <a class="nav-link" href="#">Comming soom</a>
                     </div>
                  </div>

                  <!-- Danh sách các mục bên phải -->
                  <div class="d-flex justify-content-center align-items-center">
                     <!-- Dropdown Ngôn ngữ -->
                     <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="languageDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <i class="fas d-none d-md-block fa-globe-europe"></i>
                           <span class="ms-2 d-block d-md-none fw-1">Ngôn ngữ</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                           <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                           <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                     </div>

                     <!-- Dropdown Thành phố -->
                     <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="cityDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <i matBadgeSize="large" class="fas d-none d-md-block fa-map-marker-alt"></i>
                           <span class="ms-2 d-block d-md-none fw-1">Thành Phố</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="cityDropdown">
                           <li><a class="dropdown-item" href="#">Hà Nội</a></li>
                           <li><a class="dropdown-item" href="#">TP. Hồ Chí Minh</a></li>
                           <li><a class="dropdown-item" href="#">Đà Nẵng</a></li>
                        </ul>
                     </div>

                     <!-- Dropdown Thông báo -->
                     <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="notificationDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <i matBadge="5" class="far d-none d-md-block fa-bell"></i>
                           <span class="ms-2 d-block d-md-none fw-1">Thông báo</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="notificationDropdown">
                           <li><a class="dropdown-item" href="#">Thông báo 1</a></li>
                           <li><a class="dropdown-item" href="#">Thông báo 2</a></li>
                           <li><a class="dropdown-item" href="#">Thông báo 3</a></li>
                        </ul>
                     </div>
                     <!-- search  -->
                     <app-search></app-search>
                     <!-- Avatar User -->
                     <div *nfIf="checkLogin else btnlogin" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <img src="https://via.placeholder.com/30" class="rounded-circle" alt="Avatar" width="40"
                              height="40">
                           <span class="ms-2">Admin</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                           <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                           <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                           <li>
                              <hr class="dropdown-divider">
                           </li>
                           <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                        </ul>
                     </div>
                     <div #btnlogin class="nav-item btn-auth">
                        <button routerLink="/auth" class="btn btn-primary">Đăng nhập</button>
                        <button routerLink="/auth" class="btn btn-primary">Đăng xuất</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </nav>
</header>