<div class="page-home" style="color: red;">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sapiente ad veniam, quisquam hic voluptas numquam,
   dolor
   nisi saepe placeat quo quas aliquid molestias repellat ipsa architecto enim id cupiditate!
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nesciunt recusandae ipsa, doloremque odit ad eligendi
   excepturi adipisci architecto in nobis dolore consequatur. Sint adipisci error voluptas commodi laudantium
   distinctio?
</div>