<form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
   <h1>Create Account</h1>
   <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
   </div>
   <span>or use your email for registration</span>
   <input type="text" placeholder="Name" name="name" ngModel required />
   <input type="email" placeholder="Email" name="email" ngModel required />
   <input type="password" placeholder="Password" name="password" ngModel required />
   <button type="submit">Sign Up</button>
</form>