/* You can add global styles to this file, and also import other style files */

body {
   margin: 0;
   height: 100%;
   font-size: 12pt;
   font-family:
      Poppins,
      Segoe UI,
      Tahoma,
      sans-serif;
   font-size: 20px;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
